/* Bundled locally so the demo does not depend on a font CDN. Licenses in assets/fonts/. */
@font-face {
  font-family: 'Lora';
  src: url('./assets/fonts/Lora-Variable.ttf') format('truetype');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('./assets/fonts/Lora-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400 700;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('./assets/fonts/Manrope-Variable.ttf') format('truetype');
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
}

@font-face {
  font-family: 'Golos Text';
  src: url('./assets/fonts/GolosText-Variable.ttf') format('truetype');
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
}
